# Build outputs
build/
build-local/
out/
deploy/
vcpkg_installed/

# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb

# CMake
CMakeUserPresets.json
.deps/
.cache/
.tmp/

# Logs
*.log

# Binaries and generated runtime files
*.exe
*.dll
*.pdb
*.ilk
*.obj

# OS/editor noise
Thumbs.db
.DS_Store
.vscode/
